<mat-card  class="col col-3 card">
    <mat-card-header>
      <div mat-card-avatar>10</div>
      <mat-card-title>Bom dia Espirito Santo</mat-card-title>
      <mat-card-subtitle>Benny Hinn</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://m.media-amazon.com/images/I/41COKHA-CWL.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p style="height: 100px;overflow: auto;">
        Bom dia, Espírito Santo Good Morning, Holy Spirit, título, é um livro religioso escrito
        pelo pastor e televangelista Benny Hinn. O livro foi publicado pela primeira vez em 1990,
        em seguida, revisto e ampliado em 2004. Tornou-se bestseller, com mais de um milhão de cópias vendidas
      </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary">Comprar</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="col col-3 card">
    <mat-card-header>
      <div mat-card-avatar>5</div>
      <mat-card-title>Bem vindo Espirito Santo</mat-card-title>
      <mat-card-subtitle>Benny Hinn</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://m.media-amazon.com/images/P/B00NER9GHE.01._SCLZZZZZZZ_SX500_.jpg"/>
    <mat-card-content>
      <p style="height: 100px;overflow: auto;">
        Depois do best-seller Bom dia, Espírito Santo, que apresentou o Espírito Santo a milhões de pessoas]
        como um guia pessoal e amigo, agora o pastor Benny Hinn mostra um novo olhar sobre a terceira pessoa
        da Trindade. No livro Bem Vindo Espírito Santo , que ganhou nova tradução atualizada e apresentação 
        pela Thomas Nelson Brasil, Hinn apresenta o Espírito Santo como um ser transformador e cheio de poder para mudar a História.
      </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary">Comprar</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="col col-3 card">
    <mat-card-header>
      <div mat-card-avatar>1</div>
      <mat-card-title>Você é Insubstituível</mat-card-title>
      <mat-card-subtitle>Cury, Augusto</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="http://lojasaraiva.vteximg.com.br/arquivos/ids/12112460/1006696550.jpg?v=637142260944230000"/>
    <mat-card-content>
        <p style="height: 100px;overflow: auto;">
        Você é insubstituível já vendeu mais de 2 milhões de livros no Brasil. “Este livro fala do amor pela vida que habita 
        em cada ser humano. Ele conta a sua biografia. Se até hoje sua história nunca foi contada em um livro, agora ela será, 
        pelo menos em parte. Você descobrirá alguns fatos relevantes que o tornaram um dos maiores vencedores do mundo, dos mais 
        corajosos dos seres, dos que mais cometeram loucuras de amor para poder estar vivo.” – Augusto Cury Sem sonhos, a vida 
        não tem brilho. Sem metas, os sonhos não têm alicerces. Sem prioridades, os sonhos não se tornam reais. Sonhe, trace metas, 
        estabeleça prioridades e corra riscos para executar seus sonhos. Melhor é errar por tentar do que errar por se omitir. Não 
        tenha medo dos tropeços da jornada.
      </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary">Comprar</button>
    </mat-card-actions>
  </mat-card>
  