
<mat-card>
    <mat-card-header>
        <mat-card-title>Incluir produto</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="formulario"> 
            <mat-form-field>
                <mat-label>NOME</mat-label>
                <textarea formControlName="nome" matInput placeholder="Informe o nome"></textarea>
            </mat-form-field>
            <mat-form-field>
                <mat-label>DESCRIÇÃO</mat-label>
                <textarea formControlName="descricao" matInput placeholder="Informe a descricao"></textarea>
            </mat-form-field>
            <mat-form-field>
                <mat-label>VALOR</mat-label>
                <textarea formControlName="valor" matInput placeholder="Informe o valor"></textarea>
            </mat-form-field>
            <mat-form-field>
                <mat-label>QUANTIDADE</mat-label>
                <textarea formControlName="quantidade" matInput placeholder="Informe a quantidade"></textarea>
            </mat-form-field>
            <div class="action-button">
                <button mat-raised-button color="primary">INCLUIR</button>
            </div>
        </form>
      </mat-card-content>
</mat-card>

<!-- <table *ngIf="svc">
    <thead>
        <th>Name</th>
        <th>Index</th>
    </thead>
    <tbody>
        <tr *ngFor="let svcs of svc.retorno">
            <td>{{svcs.nome}}</td>
            <td>{{svcs.data}}</td>
        </tr>
    </tbody>
</table>
<div class="spinner">
    <mat-spinner *ngIf="!svc"></mat-spinner>
</div> -->
