<mat-card>
    <mat-card-header>
        <mat-card-title>CONFIRMAR COMPRA</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div>
            <mat-selection-list #shoes>
                <mat-list-option checkboxPosition="before" *ngFor="let shoe of typesOfShoes" class="items">
                    <div style="justify-content:space-between;display: flex;" class="items">
                        <span class="items-inline">{{shoe.nome}}</span> 
                        <span class="items-inline">{{shoe.descricao}}</span> 
                        <span class="items-inline">{{shoe.valor}}</span>
                    </div>
                </mat-list-option>
            </mat-selection-list>
            <mat-divider></mat-divider>
            <div class="value-itens">
                <p>
                    Quantidade: {{shoes.selectedOptions.selected.length}}
                </p>
                <p>
                    Total: {{shoes.selectedOptions.selected.length}}
                </p>
            </div>

        </div>
        <div class="action-button">
            <button mat-raised-button color="primary">COMPRAR</button>
        </div>
    </mat-card-content>
</mat-card>

<!-- <table *ngIf="svc">
    <thead>
        <th>Name</th>
        <th>Index</th>
    </thead>
    <tbody>
        <tr *ngFor="let svcs of svc.retorno">
            <td>{{svcs.nome}}</td>
            <td>{{svcs.data}}</td>
        </tr>
    </tbody>
</table>
<div class="spinner">
    <mat-spinner *ngIf="!svc"></mat-spinner>
</div> -->