.spinner {
    display: table;
    margin: 0 auto;

}

@media (min-width: 640px) {
    mat-card {
        width: 40%;
        margin: 0 auto;
    }
}

@media (max-width: 640px) {
    mat-card {
        width: 90%;
        margin: 0 auto;
    }
}

mat-form-field {
    width: 100%;
}
.action-button {
    width: 100%;
    margin-top: 24px;
    margin-bottom: 24px !important;
}
button {
    width: 100%;
    height: 45px;
}
textarea {
    font-size: 16px;
    transform-origin: top left;
}
.value-itens {
    text-align: right;
    flex: auto;
}
.items {
    width: 100%;
    justify-content:space-between;
}
.items-inline {
    display: inline-flex;
}
.mat-list-text {
    display: list-item;
}